@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
}

@keyframes smoothMarquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes gradient-flow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-flow {
  animation: gradient-flow 6s ease infinite;
}



@theme {
  --container-screen-xl: 75rem;
  --container-screen-2xl: 83.75rem;

  --shadow-cause-shadow: 0px 4px 17px 0px #00000008;
  --shadow-darkmd: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;

  --transition-duration-150: 150ms;

  --radius-4: 4px;

  --spacing-17: 17px;
  --spacing-25: 35.625rem;
  --spacing-29: 28rem;
  --spacing-45: 45rem;
  --spacing-50: 50rem;
  --spacing-51: 54.375rem;
  --spacing-94: 22.5rem;
  --spacing-120: 120rem;
  --spacing-6_25: 6.25rem;
  --spacing-70\%: 70%;
  --spacing-40\%: 40%;
  --spacing-30\%: 30%;
  --spacing-60\%: 60%;
  --spacing-8_5: 8.5rem;
  --spacing-3_75: 3.75rem;

  --inset-5\%: 5%;
  --inset-35\%: 35%;

  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-999: 999;


  --color-primary: #920c77;
  --color-description: #4c4040;
  --color-title: #3b2900;
  --color-subtitle: #585858;
  --color-secondary: #d6249f;
  --color-midnight_text: #263238;
  --color-muted: #8d97b7;
  --color-error: #43A047;
  --color-warning: #ff6a5b;
  --color-light_grey: #e9ecef;
  --color-grey: #f5f7fa;
  --color-border: #e1e1e1;
  --color-success: #3cd278;
  --color-darkmode: #0a2219;
  --color-darklight: #000f30;
  --color-dark_border: #203535;
  --color-dark: #00180f;

  /* New Font color */
  --color-ftextcol : #FFFFFF;
  --color-fbgcol : #0ba34d;
  --color-cardbg : #f9f9f9;
  --color-linkedIn: #0077B5;
  --color-twitter: #1d9bf0;


}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html {
  scroll-behavior: smooth;
}
html,
body {
  @apply overflow-x-hidden;
}

.blog-details p,
.blog-details hr {
  @apply mb-8;
}

.blog-details hr {
  @apply border-border dark:border-dark_border;
}

.blog-details strong {
  @apply font-bold dark:text-white;
}

.blog-details ul {
  @apply mb-8 list-inside list-disc space-y-3;
}

.blog-details ol {
  @apply mb-8 list-inside list-decimal space-y-3;
}

.blog-details h1 {
  @apply mb-8 text-3xl font-bold text-midnight_text dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.28];
}

.blog-details h2 {
  @apply mb-8 text-2xl font-bold text-midnight_text dark:text-white sm:text-3xl md:text-[35px] md:leading-[1.28];
}

.blog-details h3 {
  @apply mb-6 text-2xl font-bold dark:text-white sm:text-[28px] sm:leading-[40px];
}

.slick-dots li button:before {
  @apply text-secondary! text-base!;
}
.slick-dots li.slick-active button:before {
  @apply text-secondary!;
}
.slick-dots {
  bottom: -50px !important;
}
